{% extends 'base/base.html' %}

{% block content %}


    <div class="banner-title">
        <h1 class="container-plain">Policies</h1>
    </div>

    <div class="container-plain content">
        {% for category in categories %}

            <div class="files">

            <div class="file-header">
                <h2>{{ category }}</h2>
            </div>
                {% for file in files %}
                    {% if file.category.id == category.id %}
                        <div class="file">
                            <h3>{{ file.title }}</h3>
                            <a class="upload" href="{{ file.document.url }}"><img src="/static/icons/file_download.png"></a>
                        </div>
                    {% endif %}
                {% endfor %}
            </div>
        {% endfor %}
    </div>
{% endblock %}

