{% extends 'base/base.html' %}

{% block content %}


    <div class="banner-title">
        <h1 class="container-plain">Policies</h1>
    </div>

    <div class="container-plain content">

        {% for file in files %}
            <div class="files">
                <div class="file-header">
                    <h2>{{ file.title }}</h2>
                    <a class="upload" href="{{ file.document.url }}"><img src="/static/icons/file_download.png"></a>
                </div>
                <p class="file-description">{{ file.desciption }}</p>
            </div>
        {% endfor %}
    </div>
{% endblock %}

