{% extends 'base/base.html' %}

{% block content %}


    <div class="banner-title">
        <h1 class="container-plain">Policies</h1>
    </div>

    <div class="container-plain content">


    {% for category in categories %}

        <div class="files">
            <h1>{{ category }}</h1>

        <div class="file-header">
            <h2>{{ file.title }}</h2>
            <a class="upload" href="{{ file.document.url }}"><img src="/static/icons/file_download.png"></a>
        </div>


        </div>


    {% endfor %}


        {% for file in files %}

                <p class="file-description">{{ file.desciption }}</p>

        {% endfor %}
    </div>
{% endblock %}

