{% extends 'base/base.html' %}

{% block content %}


    <div id="home-content" class="content">
        {% for land in content %}
            <article id="landing">
                {% autoescape off %}
                    <h2 class="title">{{ land.title }}</h2>
                    <p style="text-align: center">{{ land.content }}</p>
                {% endautoescape %}
            </article>
        {% endfor %}
    </div>





    <div id="slides" class="content">
        {% for slide in slides %}
            <div class="slides">
               <div class="img mySlides fade" style="background-image:url({{ slide.img.url }})"></div>
            </div>
        {% endfor %}
    </div>





    <script type="text/javascript">
        var slideIndex = 0;
        carousel();


        function carousel() {
            var i;

            var x = $(".mySlides");

            for (i = 0; i < x.length; i++) {
              x[i].style.display = "none";
            }

            slideIndex++;

            if (slideIndex > x.length) {slideIndex = 1}

            x[slideIndex-1].style.display = "block";

            setTimeout(carousel, 6000); // Change image every 2 seconds
        }
    </script>


{% endblock %}
