{% extends 'base/base.html' %}

{% block content %}


    {% for land in content %}
        {% autoescape off %}
            <div class="banner-title">
                <h1 class="container-plain">{{ land.title }}</h1>
            </div>
        {% endautoescape %}
    {% endfor %}


    <div id="info-boxes" class="container content">
        {% for box in info_boxes %}
            <article class="info-box">
                {% autoescape off %}
                    <h2 class="box-header">{{ box.header }}</h2>
                    <div class="box-content">{{ box.content }}</div>
                {% endautoescape %}
            </article>
        {% endfor %}
    </div>

    <div id="link-boxes" class="container content-bottom">
        <div class="link-box">
            <h2>Meet Our Staff</h2>
            <p>We have a high staff ratio and are all highly qualified and CRB checked.</p>
            <a class="link-box-button" href="/staff-profiles">
            Find Out More</a>
        </div>

        <div class="link-box">
            <h2>Activities</h2>
            <p>We have lots of activited to keep your child happy!</p>
            <a class="link-box-button" href="/activities">
            Find Out More</a>
        </div>

        <div class="link-box">
            <h2>Get in touch!</h2>
            <p>Get in touch and one of our staff will be in touch ASAP</p>
            <a class="link-box-button" href="/contact-us">
            Find Out More</a>
        </div>
    </div>

    <div class="banner-title">
        <h1 class="container-plain">About Us</h1>
    </div>

    <div class="container content">

    <div class="content-bottom">
        {% for land in content %}
            {% autoescape off %}
                {{ land.content }}
            {% endautoescape %}
        {% endfor %}


    </div>

        {% include 'contact/map-opening.html' %}
    </div>

{% endblock %}
