
<footer class="panel-footer container">
    <div class="footer-link">
        <a href="/">Home</a>
        <a href ="/testimonials/">Testimonials</a>
        <a href="/staff">Staff</a>
        <a href="/info/">Info</a>
        <a href="/fundraising/">Fundraising</a>
        <a href="/policies/">Policies</a>
        <a href="/contact-us/">Contact Us</a>
        <a href="/privacy-cookies-policy/">Privacy & Cookies</a>
    </div>
    <div class="number">
        <p>Charity Number - 279083</p>
        <p>Designed and developed by <a href="https://callum-pullinger.co.uk">Callum Pullinger</a></p>
    </div>
</footer>
