<div id="landing-image">

    <img id="toggle" src="/static/icons/menu-white.png">

    <div id="landing-content" class="container">
        <img id="landing_logo" src="/static/imgs/Logo2.png">
        {% autoescape off %}
            <p>{{ title.content }}</p>
        {% endautoescape %}

        <div id="social-links">
            {% if facebook %}
                <a href="/" class="s-link link"><img href="/" src="/static/icons/fb-white.png"><span class="social-text">/Sharerespitebasildonessex/</span></a>
            {% endif %}
                <a href="/" class="s-link link"><img href="/" src="/static/icons/phone-white.png"><span class="social-text">07412090817</span> </a>

            {% if email %}
                <a href="mailto:me@hotmail.com" class="s-link link"><img src="/static/icons/email-white.png"><span class="social-text">me@hotmail.co.uk</span> </a>
            {% endif %}
        </div>
    </div>


    {% for slide in slides %}
        <div class="img-block" style="background-image:url({{ slide.img.url }})"></div>
    {% endfor %}

    {% for slide in slides %}
        <div class="img-block" style="background-image:url({{ slide.img.url }})"></div>
    {% endfor %}
</div>





{% block head_js %}

    <script type="text/javascript">


        function openNav() {
            $(this).css('display', 'flex');
            nav = true;
        }

        function closeNav() {
            $(this).css('display', 'none');
            nav = false;
        }

        function toggleNav() {
            nav ? closeNav() : openNav();
        }

        $( "#toggle" ).click(function() {
            $( "#nav-links" ).toggle( "fast", function() {

                // Animation complete.
            });
        });

        $('#nav-links li').click(function () {
            var link = $(this).find('a').attr('href');
            location.href = link
        });
    </script>
{% endblock %}
