<div id="landing-image">
    {% for slide in slides %}
        <div class="fade myslides" style="background-image:url({{ slide.img.url }})">
        <div class="landing-content container-plain">
            {% autoescape off %}
                {{ title.content }}
            {% endautoescape %}
        </div>
        </div>
    {% endfor %}
</div>





{% block body_js %}
    <script type="text/javascript">
        var slideIndex = 0;
        carousel();

        function carousel() {
            var i;

            var x = $(".myslides");

            for (i = 0; i < x.length; i++) {
              x[i].style.display = "none";
            }

            slideIndex++;

            if (slideIndex > x.length) {slideIndex = 1}

            x[slideIndex-1].style.display = "block";

            setTimeout(carousel, 6000); // Change image every 2 seconds
        }
    </script>
{% endblock %}



