<header>

    <nav id="nav">


        <div id="nav-body">
        <!-- Nav Links -->
            <ul id="nav-links" class="nav-container">
                <li><a class="nav-btn link" href ="/">Home</a></li>
                <li><a class="nav-btn link" href="/activities/">Activities</a></li>
                <li><a class="nav-btn link" href ="/testimonials/">Testimonials</a></li>
                <li><a class="nav-btn link" href="/staff-profiles/">Staff</a></li>
                <li><a class="nav-btn link" href="/info/">Info</a></li>
                <li><a class="nav-btn link" href="/fundraising/">Fundraising</a></li>
                <li><a class="nav-btn link" href="/policies/">Policies</a></li>
                <li><a class="nav-btn link" href="/contact-us/">Contact</a></li>
            </ul>
        </div>

    </nav>
</header>

