{% extends 'base/base.html' %}

{% block base %}

    <h1 class="title">Fundraising</h1>

    <div id="targets">

        {% for target in targets %}

            {% if target.active %}

                <div class="target">

                    <h1>{{ target.title }}</h1>

                    <div class="target-desc">
                        <div class="target-text">
                            {% autoescape off %}
                                <p>{{ target.description }}</p>
                            {% endautoescape %}
                        </div>

                        <div class="target-imgs">
                            <img src="{{ target.image_1.url }}"
                                    {% if target.image_2 and target.image_3 %}
                                    class="target-img target-img-4"
                                    {% elif target.image_2 %}
                                    class="target-img target-img-2"
                                    {% else %}
                                    class="target-img target-img-1"
                                    {% endif %}
                            >

                            {% if target.image_2  %}
                                <img src="{{ target.image_2.url }}"
                                    {% if target.image_3 %}
                                        class="target-img target-img-3"
                                    {% else %}
                                        class="target-img target-img-2">
                                    {% endif %}
                                
                            {% endif %}


                            {% if target.image_3 %}
                                <img class="target-img target-img-3 img-3" src="{{ target.image_3.url }}">
                            {% endif %}

                            <img class="service-pointer" src="/static/icons/pointer.png">
                        </div>
                    </div>


                    <div class="donations">
                        <div>
                            {% if target.target > 0  %}
                                <p id="target">Target: £{{ target.target }}</p>
                            {% endif %}

                            <p>Acheived: £{{ target.count_achieved }}</p>
                        </div>
                        <button class="btn-success">Donate</button>
                    </div>
                </div>
            {% endif %}
        {% endfor %}
    </div>



{% endblock %}