{% extends 'base/base.html' %}


{% block head_js %}
  <script src="https://js.stripe.com/v2/" type="text/javascript"></script>
  <script type="text/javascript">
      //<![CDATA[
      Stripe.publishableKey = '{{ publishable }}';
      //]]>
  </script>
  <script type="text/javascript" src="/static/js/stripe.js"></script>

{% endblock %}



{% block content %}

    <div class="banner-title">
        <h1 class="container-plain">Fundraising</h1>
    </div>

    <div id="targets" class="container-plain content">

        {% for target in targets %}

            {% if target.active %}


                <div id='target_{{ forloop.counter0 }}' class="target">


                    <div class="files">
                        <div class="file-header">
                            <h2>{{ target.title }}</h2>
                        </div>

                        <div class="file-description blurb">
                            {% autoescape off %}
                                {{ target.description }}
                            {% endautoescape %}
                        </div>

                        <div class="target-desc">

                        <div class="target-imgs">

                            <div style="background-image: url({{ target.image_1.url }}")
                                {% if target.image_2 and target.image_3 %}
                                    class="target-img target-img-4"
                                {% elif target.image_2 %}
                                    class="target-img target-img-2"
                                {% else %}
                                    class="target-img target-img-1"
                                {% endif %}></div>

                            {% if target.image_2  %}
                                <div style="background-image: url({{ target.image_2.url }}")
                                    {% if target.image_3 %}
                                        class="target-img target-img-3"
                                    {% else %}
                                        class="target-img target-img-2"
                                    {% endif %}>
                                </div>
                            {% endif %}

                                {% if target.image_3 %}

                                    <div class="target-img target-img-3" style="background-image: url({{ target.image_3.url }}")></div>
                                {% endif %}

                                <img class="service-pointer" src="/static/icons/pointer.png">
                            </div>


                            <div class="donations">
                                <div class="target-donations">
                                    {% if target.target > 0  %}
                                        <p>Target: £{{ target.target }}</p>
                                    {% endif %}
                                    <p>Acheived: £{{ target.count_achieved }}</p>
                                </div>

                                <button value="{{ forloop.counter }}" onclick="openDonation()" class="donate-btn btn-success">Donate</button>
                            </div>


                        </div>




                </div>



    </div>
            {% endif %}

        {% endfor %}

    {% include 'fundraising/donation_form.html' %}



    <script type="text/javascript">
        function openDonation() {
            $('#donation-form').css('display', 'block');
            var id = $(this).find
        }

        $(document).ready(function(){
            $(".donate-btn").click(function(){
                $('#id_target').val(this.value);
            });

            $('#div_id_target').css('display', 'none');
        });
    </script>


</div>
{% endblock %}