{%  extends 'base/base.html' %}

{% block head_js %}

    <title>Meet Our Staff </title>

{% endblock %}



{% block content %}

    <div class="banner-title">
        <h1 class="container-plain">Meet Our Staff</h1>
    </div>

    <div class="container-plain content-bottom">

        {% for role in roles %}
            <div class="role-section">
                <h1 class="title">{{ role }}s</h1>
            </div>

            <div id="staff-profiles">
                {% for staff in staffs %}

                    {% if staff.role.id == role.id %}
                        <div class="staff-profile">
                            <div class="staff-details">
                                <div class='staff-img' style="background-image:url({{ staff.staff_image.url }})"></div>
                            </div>
                            {% autoescape off %}
                                <div class="staff-bio">
                                    <h2>{{ staff.user.first_name }}</h2>
                                    <p>{{ staff.bio }}</p>
                                </div>
                            {% endautoescape %}
                        </div>
                    {% endif %}
                {% endfor %}
            </div>
        {% endfor %}
    </div>
{% endblock %}