
/* Reset */

    * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
        font-size: 18px;
        font-family: 'Muli', sans-serif;
        color: black;
        list-style: none;
        text-decoration: none;
    }
 body {
        line-height: 1.4;
    }

/* Fonts */

    /*



    font-family: 'Playfair Display', serif;

    font-family: 'Montserrat', sans-serif;

    font-family: 'Muli', sans-serif;

    font-family: 'Indie Flower', cursive;


    */


    h1, h2, h3, h3 {
    font-family: 'Muli', sans-serif;
    }

    p, li, footer .number p a, button, a, strong {
        font-family: 'Montserrat', sans-serif;
    }

    .testimonial p, .testimonial h2 {
        color: white;
        font-family: 'Indie Flower', cursive;;
    }

    .testimonial h2{
        font-size: 38px;
    }



/* Vars */

    :root {
        --my-font:'Muli', sans-serif;
        --color-1: black;
        --border: #ebebeb;
    }



/* Link Black */

    .link{
        position: relative;
        text-decoration: none;
    }

    .link:after{
        content: '';
        position: absolute;
        width: 0;
        height: 1px;
        display: block;
        margin-top: 5px;
        left: 0;
        bottom: -5px;
        background: var(--color-1);
        transition: width .2s ease;
        -webkit-transition: width .2s ease;
    }

    .link:hover:after {
        width: 100%;
        left: 0;
        background: var(--color-1);
    }



/* Index */

    main {
        background-color: #f5f5f5;

    }

    .container-plain {
        width: 80%;
        margin: 0 auto;
        padding-left:10px;
        padding-right: 10px;
    }

    .container  {
        width: 80%;
        margin: 0 auto;
        padding-left: 10px;
        padding-right: 10px;
    }

    .content {
        padding: 35px 0;
    }

    .content-bottom {
        padding-bottom: 35px;
    }


/* Header */

    /* Navbar */

    #nav-links {
        display: none;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
    }

    #nav-links li {
        width: 100%;
        text-align: center;
        padding: 10px 0 ;
        border-bottom: 1px #ebebeb solid;
    }

    #nav-links li:last-child {
        border-bottom: none;
    }
/* Home */

    /* Landing Images */

    #landing-image {
        position: relative;
        width: 100%;
        min-height:35vh;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        max-height: 150vw;
        overflow-y: hidden;
    }



    .img-block {
        width: 50%;
        height:50vw;
        background-position: 50% 50%;
        background-size: 200% auto;
        background-repeat: no-repeat;
        background-color: rgba(0, 0, 0, 0.4);
        background-blend-mode: multiply;

    }

    #landing-content{
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
    }

    #toggle {
        position: absolute;
        right: 20px;
        top: 20px;
        cursor: pointer;
        z-index: 100;
    }

    .myslides  p {
        color: white;
        font-size: 45px;
        text-align: left;
    }

    #landing-content p{
        color: white;
        font-size: 2em;
    }

    #landing_logo {
        width: auto;
        height: 150px;
        z-index: 100;

    }


    #social-links {
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        align-items: baseline;
        margin: 25px 0;
    }

    #social-links a {
        height: 30px;
    }

    #social-links img {
        height: 30px;
        width: auto;
        margin-right: 5px;
    }

    .s-link {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: center;
    }

    .social-text {
        display: none;
    }

    /* Slid Fade */

    .fade {
        animation: fadein 6s;
    }

    @keyframes fadein {
        0%{ opacity: 1;}
        85%{opacity: 1;}
        100%{opacity: 0;}
    }


    /* Title Banner */

    .title {
        font-size: 2em;
        text-align: center;
        margin: 10px 0;
    }

    .banner-title {
        background-color: #40d1e0;
        padding: 10px 0;
    }

    .banner-title h1 {
        color: white;
        font-size: 1.8em;
        text-align: center;
    }


    /* Info Boxes */

    .info-box:nth-child(even){
        flex-direction: row-reverse;
        text-align: right;
    }

    .info-box:last-child{
        margin: 0;
    }

    .info-box:nth-child(even) .box-header{
        margin-right: 0;
        margin-left: 20px;
    }

    .info-box {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between;
        padding: 10px;
        margin-bottom: 20px;
    }

    .box-header {
        font-size: 1.7em;
        text-align: center;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-right: 20px;
        margin-bottom: 5px;
    }

    .box-header{
        border-bottom: 1px solid grey;
    }

    .blurb {
        text-align: center;
    }

    .box-content {
        margin-bottom: 10px;
    }


    /* Link Boxes */

    #link-boxes {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        flex-wrap: wrap;

    }

    .link-box {
        width: 300px;
        height: 300px;
        padding: 20px 10px;

        margin-bottom: 25px;

        display: flex;
        flex-direction: column;
        justify-content: space-between;

        background-color: white;
        border-radius: 1px;
        -webkit-box-shadow: 10px 10px 17px 3px rgba(0,0,0,0.27);
        -moz-box-shadow: 10px 10px 17px 3px rgba(0,0,0,0.27);
        box-shadow: 10px 10px 17px 3px rgba(0,0,0,0.27);
    }
    .link-box h2 {
        font-size: 1.8em;

        text-align: center;
    }

    .link-box p {
        padding: 5px;
    }

    .link-box-button, .donations button {
        margin-top: 15px;
        padding: 10px;
        border: 2px solid  #e87bc0;
        color: #e87bc0;
        text-align: center;
        background-color: transparent;
        cursor: pointer;
        z-index: 100;
    }

    .link-box:nth-child(2) > a:nth-child(3){
        border: 2px solid  #40d1e0;
        color: #40d1e0;
    }

    #targets.container-plain.content div:nth-child(odd).target div.files div.target-desc div.donations button.donate-btn.btn-success {

        border: 2px solid  #40d1e0;
        color: #40d1e0;
    }
/* Footer */


    footer {
        padding: 20px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        background-color: #e6e6e6;
    }

    .footer-link {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        margin-bottom: 10px;
    }

    .footer-link a {
        margin: 5px;
    }

    footer .number p  {
        text-align: center;
    }



/* Staff Profiles */

    #staff-profiles {
        display: flex;
        flex-direction: column;

        flex-wrap: wrap;
        justify-content: space-around;
        align-items: center;
    }

    .staff-profile {
        background-color: white;
        display: flex;
        flex-direction: column;
        -webkit-box-shadow: 10px 10px 17px 3px rgba(0,0,0,0.27);
        -moz-box-shadow: 10px 10px 17px 3px rgba(0,0,0,0.27);
        box-shadow: 10px 10px 17px 3px rgba(0,0,0,0.27);
        margin: 10px 0;
    }


    .staff-details {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .staff-img {
        width: 200px;
        height: 190px;
        margin: 10px;
        background-position: 50% 50%;
        background-repeat:   no-repeat;
        background-size:     cover;
    }


    .staff-bio {

        padding: 0 5px;
    }
    .staff-bio h2 {
        text-decoration: underline;
        text-align: center;
    }
    .staff-bio p {
        text-align: justify;
        margin: 5px;
    }



/* Contact */

    /* Contact & Maps */

    #contact-times, #map {
        display: flex;
        align-items: center;
        flex-direction: column;

        width: 300px;
        background-color: #e6e6e6;
        border-radius: 1px;
        justify-content: space-between;
        margin-bottom: 25px;
        -webkit-box-shadow: 10px 10px 17px 3px rgba(0,0,0,0.27);
        -moz-box-shadow: 10px 10px 17px 3px rgba(0,0,0,0.27);
        box-shadow: 10px 10px 17px 3px rgba(0,0,0,0.27);
    }

    #contact-times {
        padding: 20px 10px;
        text-align: center;
    }

    #open-times {
        margin-bottom: 10px;
    }


    #staff-contact p, #contact-times p{
        font-size:  1em;
        text-align: center;
    }
    #contact-times h2 {
        text-align: center;}


    #map-contact {
        display: flex;
        flex-direction: row;
        justify-content: center;
        flex-wrap: wrap;
    }

    #map, #contact-times {
        width: 100%
    }



/* Information */

    #info-content p {
        padding: 5px 0;
        margin-bottom: 20px;
    }

    #info-page {
        display: flex;
        flex-direction: column-reverse;
        justify-content: center;
        align-items: center;
        padding-bottom: 30px;
    }

    #corkboard {
        min-width: 300px;
        width: 80%;
        background-image: url("/static/imgs/corkboard.jpg");
        border: burlywood 10px solid;
        padding: 10px;
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-bottom: 40px;
    }

    .notes {
        background-color: #f4ff5f;
        width: 260px;
        max-width: 280px;
        margin: 20px 10px;
        padding: 0 10px;
        padding-bottom: 20px;
        transform: rotate(-2deg);
        font-size: 0.8em;

        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .notes img {
        width: 200px;
        height: auto;
        padding: 5px;
        justify-content: center;
    }

    .pin-header {
        display: flex;
        flex-direction: row;
        justify-content: center;

    }
    .pin {
        border: solid 5px #ff291d;
        background-color: red;
        border-radius: 50%;
        height: 15px;
        width: 15px;
        margin: 10px;
        box-shadow: 0 3px 8px 1px #888888;
    }

    .notes:nth-child(even){
        background-color: #c4e3f3;
        transform: rotate(3deg);
    }

    .notes:nth-child(3){
        transform: rotate(-4deg);
    }

    .sponsers {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        margin-top: 25px;
        align-items: center;
        justify-content: space-evenly;
    }
    .sponser img {
        width: 10vw;
        height: auto;
    }

/* Testimonials */

    .help-chalk {
        display: none;
    }


    .blackbaord{
        height: 800px;
        display: flex;
        flex-direction: column;
        align-items: center;

    }
    .content-slider {
        height: 100%;
        width: 90%;
        background-image: url("/static/imgs/blackboard.jpg");
        border: 5px solid burlywood;
        overflow: hidden;
    }

    .slider {
        height: auto;
        width: 90%;
        margin: 25px auto 0;
        overflow: visible;
        position: relative;
    }

    .mask {
        overflow: hidden;
    }

    .slider .testimonial {
        position: absolute;
        top: -325px;
        list-style: none;
        color: white;
    }

    .help-chalk {
        position: relative;
        color: white;
    }

    .help-chalk {
        float: right;
    }

    .testimonial{
        height: 100%;
        width: 100%;
    }

    .testimonial h1 {
        padding-top: 10px;
        padding-bottom: 10px;
    }

    .testimonial p {
        padding-bottom: 5px;
    }

    p.source {
        text-align: right;

    }

    .slider .testimonial.anim1 {
        -moz-animation: cycle 25s linear infinite;
        -webkit-animation: cycle 25s linear infinite;
        animation: cycle 25s linear infinite;
    }

    .slider .testimonial.anim2 {
        -moz-animation: cycle2 25s linear infinite;
        -webkit-animation: cycle2 25s linear infinite;
        animation: cycle2 25s linear infinite;
    }

    .slider .testimonial.anim3 {
        -moz-animation: cycle3 25s linear infinite;
        -webkit-animation: cycle3 25s linear infinite;
         animation: cycle3 25s linear infinite;
    }

    .slider .testimonial.anim4 {
        -moz-animation: cycle4 25s linear infinite;
        -webkit-animation: cycle4 25s linear infinite;
        animation: cycle4 25s linear infinite;
    }

    .slider .testimonial.anim5 {
        -moz-animation: cycle5 25s linear infinite;
        -webkit-animation: cycle5 25s linear infinite;
        animation: cycle5 25s linear infinite;
    }

    .slider:hover .testimonial{
        -moz-animation-play-state: paused;
        -webkit-animation-play-state: paused;
        animation-play-state: paused;
    }



    .activity, .files, .policies {
        background-color: white;
        margin-bottom: 20px;
        -webkit-box-shadow: 10px 10px 17px 3px rgba(0,0,0,0.27);
        -moz-box-shadow: 10px 10px 17px 3px rgba(0,0,0,0.27);
        box-shadow: 10px 10px 17px 3px rgba(0,0,0,0.27);
    }

    .files:last-child {
        margin-bottom: 0;
    }

    .category-header, .upload-header {
        background-color: #40d1e0;
        display: flex;
        padding: 5px 10px;
    }

    .table-header {
        background-color: #40d1e0;
    }

    .table-header th {
        padding: 10px 5px;
        color: white;
    }

    table p, td {
        font-size: 16px;
    }

    td {
        padding: 10px;
        text-align: center;
    }


    .category-header h2 {
        color: white;
        width: 100%;
        font-size: 1.5em;
        text-align: center;
    }

    .upload-header h2{
        text-align: left;
        color: white;
        width: 100%;
        font-size: 1.5em;
    }

    .upload-header {
        justify-content: space-between;
        align-items: center;
    }


    .activity-description {
        margin-bottom: 15px;
    }
    .activity-text {
        padding: 10px;
    }
    .activity-text:first-child p {
        margin-bottom: 10px;
    }

    .file-header h1, .file-header h2 {
        color: white;
    }

    .file {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        padding: 5px;
        border-bottom: 1px solid var(--border);
    }
    .file:last-child {
        border-bottom: none;
    }
    .upload {
        height: 24px;
    }

    .file-description {
        padding: 5px 10px;
    }




/* Fundraising */


    .target {
        margin-bottom: 25px;
    }

    #target_0 {
        padding-top: 0
    }
    .target-donations {
        margin-top: 5px;
        text-align: center;
    }
    .target h1 {
        font-size: 2.5em;
    }

    .donations {
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }


    .target-desc {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        flex-wrap: wrap;
        align-items: center;
    }

    .target-text {
        margin-bottom: 15px;
        text-align: justify;
    }

    .target-img {

        background-position: 50% 50%;
        background-repeat:   no-repeat;
        background-size:     cover;
    }

    .target-imgs {
        min-width: 200px;
        width: 200px;
        position: relative;
        height: 200px;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        background-color: #40d1e0;
        border: 4px solid  #40d1e0;
        margin: 20px 0;

        background-position: 50% 50%;
        background-repeat:   no-repeat;
        background-size:     cover;
    }

    #targets.container-plain.content div:nth-child(even).target div.files div.target-desc div.target-imgs{
        border: 4px solid  #e87bc0;
        color: #e87bc0;
    }

    .target-pointer {
        display: none;
        position: absolute;
        bottom: 0;
        left: 0;
        height: 20px;
        width: auto;
        margin: 5px;
    }

    .target-img-1 {
        width: 100%;
        height: 100%;
        background-position: 50%;
        background-size: contain;
    }

    .target-img-2 {
        width: 49%;
        height: 100%;
    }

    .target-img-2:last-child{
        margin-left: 2px;
    }

    .target-img-3 {
        width: 48%;
        height: 49%;
        margin-left: 2px;
        position: absolute;
        right: 0;
    }

    .target-img-3:nth-child(2n) {
        bottom: 0;
    }

    .img-3 {
        bottom: 0;
        top: unset;
    }

    .target-img-4 {
        width: 50%;
        height: 100%;
    }


    .service-pointer {
        display: none;
    }

    #donation-form .banner-title {
        display: flex; flex-direction: row;
        justify-content: space-evenly;
    }

    #donation-form .banner-title button {
        color: white;
    }

    #booking-form div {
        margin: 10px 0;
        text-align: right;
    }

    label {
        text-align: left;
    }

    .form-popup {
        display: none;
        position: fixed;
        top: 50%;
        left: 50%;
        margin-top: -228px;
        margin-left: -200px;
        z-index: 90;
        width: 400px;
        background-color: white;
        -webkit-box-shadow: 10px 10px 17px 3px rgba(0,0,0,0.27);
        -moz-box-shadow: 10px 10px 17px 3px rgba(0,0,0,0.27);
        box-shadow: 10px 10px 17px 3px rgba(0,0,0,0.27);
    }

    #close-btn {
        position: absolute;
        right: 10px;
        top: 10px;
        height: 25px;
        width: 25px;
        padding: 0;
        display: flex;
        justify-content: center;
        align-items: center;
        border-color: transparent;
        background-color: transparent;
    }

    .donate-btn {
        margin: 15px 0;
    }

    #validate_card_btn, #contact-btn {
        padding: 10px;
    }


    .row {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    .col-md-6 {
        width: 48%;
    }

    #contact-form input {
        padding: 5px;
        width: 100%;
    }

     #contact-form textarea {
         padding: 5px;
         height: 275px;
         width: 100%;
     }

     #contact-form div{
         margin: 10px 0;
     }

     div.gdpr {
         display: flex;
         flex-direction: row;

     }

     #contact-form .gdpr input {
         width: unset;
     }

     #tick {
         margin-right: 20px;
     }


 /* Activities */

    #mobile-table {
        display: none;
    }


    tr:nth-child(odd) {
        background-color: var(--border)
    }


    tr:nth-child(1) {
        background-color: #40d1e0
    }

/* Responsive Desktop */
/* DESKTOP */

/* RESPONSIVE MIN WIDTH - 800PX */
    @media screen and (min-width: 1100px) {

        /* Fonts */

    p, li, footer .number p a  {
        font-size: 24px;
    }


    /* Header */
        /* Navbar */


        .nav-container  {
            width: 80%;
            margin: 0 auto;
            padding-left: 10px;
            padding-right: 10px;
        }

        #toggle {
            display: none;
        }

        .social-text {
            display: block;
            color: white;
        }

        #nav-links {
            display: flex;
            flex-direction: row;
        }


    /* Home*/

        .img-block{
             width: 20%;
            height: 20vw;
        }

        #landing-image .myslides {
            background-size: 100% auto;
        }

        /* Info Box */

        .info-box {
            flex-wrap: unset;
        }

        .box-header {
            border-bottom: none;
            margin-bottom: 0;
        }

        .box-content {
            display: flex;
            justify-content: center;
            align-items: center;
        }

        #map, #contact-times {
            width: 100%
        }

        #map-contact {
            flex-wrap: unset;
            justify-content: space-between;
        }

         #contact-times {
            width: unset
        }

         #landing_logo {
             height: 200px;
         }
    /* Footer */

        .footer-link {
            justify-content: space-between;
        }



    /* Staff Profiles */

        .staff-profile {
            width: 950px;
            height: unset;
            flex-direction: row;
        }

        .staff-img {
            margin: 0;
        }


        .staff-bio {
            margin: 10px;
        }
        .staff-bio h2 {
            text-align: left;
        }

        .staff-bio p {
            text-align: left;
            margin: 0;
        }


        /* Information */

        #info-page {
            flex-direction: row;
            align-items: flex-start;
        }

        #corkboard {
            display: flex;
            width: 300px;
            margin-left: 15px;
        }

        /* Testimonial */

        .content-slider {
        height: 360px;
        }
    }





/* Testimonial Animation */

@-moz-keyframes cycle {
    0% {
        top: 0;
    }
    4% {
        top: 0;
    }
    16% {
        top: 0;
        opacity: 1;
        z-index: 0;
    }
    20% {
        top: 325px;
        opacity: 0;
        z-index: 0;
    }
    21% {
        top: -325px;
        opacity: 0;
        z-index: -1;
    }
    92% {
        top: -325px;
        opacity: 0;
        z-index: 0;
    }
    96% {
        top: -325px;
        opacity: 0;
    }
    100% {
        top: 0;
        opacity: 1;
    }
}

@-moz-keyframes cycle2 {
    0% {
        top: -325px;
        opacity: 0;
    }
    16% {
        top: -325px;
        opacity: 0;
    }
    20% {
        top: 0;
        opacity: 1;
    }
    24% {
        top: 0;
        opacity: 1;
    }
    36% {
        top: 0;
        opacity: 1;
        z-index: 0;
    }
    40% {
        top: 325px;
        opacity: 0;
        z-index: 0;
    }
    41% {
        top: -325px;
        opacity: 0;
        z-index: -1;
    }
    100% {
        top: -325px;
        opacity: 0;
        z-index: -1;
    }
}

@-moz-keyframes cycle3 {
    0% {
        top: -325px;
        opacity: 0;
    }
    36% {
        top: -325px;
        opacity: 0;
    }
    40% {
        top: 0;
        opacity: 1;
    }
    44% {
        top: 0;
        opacity: 1;
    }
    56% {
        top: 0;
        opacity: 1;
    }
    60% {
        top: 325px;
        opacity: 0;
        z-index: 0;
    }
    61% {
        top: -325px;
        opacity: 0;
        z-index: -1;
    }
    100% {
        top: -325px;
        opacity: 0;
        z-index: -1;
    }
}

@-moz-keyframes cycle4 {
    0% {
        top: -325px;
        opacity: 0;
    }
    56% {
        top: -325px;
        opacity: 0;
    }
    60% {
        top: 0;
        opacity: 1;
    }
    64% {
        top: 0;
        opacity: 1;
    }
    76% {
        top: 0;
        opacity: 1;
        z-index: 0;
    }
    80% {
        top: 325px;
        opacity: 0;
        z-index: 0;
    }
    81% {
        top: -325px;
        opacity: 0;
        z-index: -1;
    }
    100% {
        top: -325px;
        opacity: 0;
        z-index: -1;
    }
}

@-moz-keyframes cycle5 {
    0% {
        top: -325px;
        opacity: 0;
    }
    76% {
        top: -325px;
        opacity: 0;
    }
    80% {
        top: 0;
        opacity: 1;
    }
    84% {
        top: 0;
        opacity: 1;
    }
    96% {
        top: 0;
        opacity: 1;
        z-index: 0;
    }
    100% {
        top: 325px;
        opacity: 0;
        z-index: 0;
    }
}

@-webkit-keyframes cycle {
    0% {
        display: none;
        top: 0;
    }
    4% {
        top: 0;
    }
    16% {
        top: 0;

        display: block;
        opacity: 1;
        z-index: 0;
    }
    20% {

        display: none;
        top: 325px;
        opacity: 0;
        z-index: 0;
    }
    21% {
        top: -325px;
        opacity: 0;
        z-index: -1;
    }
    50% {
        top: -325px;
        opacity: 0;
        z-index: -1;
    }
    92% {
        top: -325px;
        opacity: 0;
        z-index: 0;
    }
    96% {
        top: -325px;
        opacity: 0;
    }
    100% {
        display: block;
        top: 0;
        opacity: 1;
    }
}

@-webkit-keyframes cycle2 {
    0% {
        top: -325px;
        opacity: 0;
    }
    16% {
        top: -325px;
        opacity: 0;
    }
    20% {
        top: 0;
        opacity: 1;
    }
    24% {
        top: 0;
        opacity: 1;
    }
    36% {
        top: 0;
        opacity: 1;
        z-index: 0;
    }
    40% {
        top: 325px;
        opacity: 0;
        z-index: 0;
    }
    41% {
        top: -325px;
        opacity: 0;
        z-index: -1;
    }
    100% {
        top: -325px;
        opacity: 0;
        z-index: -1;
    }
}

@-webkit-keyframes cycle3 {
    0% {
        top: -325px;
        opacity: 0;
    }
    36% {
        top: -325px;
        opacity: 0;
    }
    40% {
        top: 0;
        opacity: 1;
    }
    44% {
        top: 0;
        opacity: 1;
    }
    56% {
        top: 0;
        opacity: 1;
        z-index: 0;
    }
    60% {
        top: 325px;
        opacity: 0;
        z-index: 0;
    }
    61% {
        top: -325px;
        opacity: 0;
        z-index: -1;
    }
    100% {
        top: -325px;
        opacity: 0;
        z-index: -1;
    }
}

@-webkit-keyframes cycle4 {
    0% {
        top: -325px;
        opacity: 0;
    }
    56% {
        top: -325px;
        opacity: 0;
    }
    60% {
        top: 0;
        opacity: 1;
    }
    64% {
        top: 0;
        opacity: 1;
    }
    76% {
        top: 0;
        opacity: 1;
        z-index: 0;
    }
    80% {
        top: 325px;
        opacity: 0;
        z-index: 0;
    }
    81% {
        top: -325px;
        opacity: 0;
        z-index: -1;
    }
    100% {
        top: -325px;
        opacity: 0;
        z-index: -1;
    }
}

@-webkit-keyframes cycle5 {
    0% {
        top: -325px;
        opacity: 0;
    }
    76% {
        top: -325px;
        opacity: 0;
    }
    80% {
        top: 0;
        opacity: 1;
    }
    84% {
        top: 0;
        opacity: 1;
    }
    96% {
        top: 0;
        opacity: 1;
        z-index: 0;
    }
    100% {
        top: 325px;
        opacity: 0;
        z-index: 0;
    }
}




@media
only screen and (max-width: 700px) {
  table, thead, tbody, th, td, tr {
    display: block;
  }
  thead tr {
    position: absolute;
    top: -9999px;
    left: -9999px;
  }


  td {
    border: none;
    border-bottom: 1px solid #eee;
    position: relative;
    padding-left: 200px;
  }
  td:before {
    position: absolute;
    top: 12px;
    left: 6px;
    width: 200px;
    padding-right: 40px;
    white-space: nowrap;
  }
  td:nth-of-type(1):before { content: "Date"; }
  td:nth-of-type(2):before { content: "Acitivities"; }
  td:nth-of-type(3):before { content: "Items To Bring"; }
  td:nth-of-type(4):before { content: "Meeting Area";}
  td:nth-of-type(5):before { content: "Slots";}

  th {
      display: none;
  }
  #mobile-table {
      display: block;
  }
}

