
    /* Fonts */

    /*

    font-family: 'Muli', sans-serif;

    font-family: 'Indie Flower', cursive;

    */

    /* Vars */

    :root {
        --my-font:'Muli', sans-serif;
        --color-1: black;
    }



    /* Reset */

        * {
            margin: 0;
            padding: 0;
            box-sizing: border-box;

            font-size: 20px;
            font-family: var(--my-font);
            font-weight: bold;
            color: black;
            list-style: none;
            text-decoration: none;
        }

        h2 {
            font-size: 24px;
        }

        body {
            line-height: 1.4;
        }


/* Index */



    /* fonts */
    p, li, footer .number p a  {
        font-size: 22px;
    }




        /* Link Black */

        .link{
            position: relative;
            text-decoration: none;
        }

        .link:after{
            content: '';
            position: absolute;
            width: 0;
            height: 1px;
            display: block;
            margin-top: 5px;
            left: 0;
            bottom: -5px;
            background: var(--color-1);
            transition: width .2s ease;
            -webkit-transition: width .2s ease;
        }

        .link:hover:after {
            width: 100%;
            left: 0;
            background: var(--color-1);
        }


    main {
                background-color: #f5f5f5;

    }

    .container-plain {

        width: 90%;
        margin: 0 auto;
        padding-left:10px;

        padding-right: 10px;


    }
    .container  {
        width: 90%;
        margin: 0 auto;
        padding-left: 10px;
        padding-right: 10px;
    }

    .content {
        padding-top: 50px;
        padding-bottom: 50px;
    }

    .content-bottom {
        padding-bottom: 50px;
    }


    /* Navbar */

    #nav_logo {
        height: 80px;
        width: auto;
    }

    #navbar-header {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        padding: 10px 0;
    }

    #toggle {
        height: 28px;
        width: auto;
    }

    #social-links {
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-evenly;
        align-items: baseline;
    }

    #social-links a {
        height: 30px;
    }
    #social-links img {
        height: 30px;
        width: auto;
        margin-right: 5px;
    }

    .s-link {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: center;
    }

    .social-text {
        display: none;
    }

    #nav-body {
        border-top: #ebebeb 1px solid;
    }

    #nav-links {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
    }
    #nav-links li {
        width: 100%;
        text-align: center;
        padding: 10px 0 ;
        border-bottom: 1px #ebebeb solid;
    }

    #nav-links li:last-child {
        border-bottom: none;
    }

/* Home */

#landing-image .myslides {
    width: 100%;
    min-height: 45vh;
    background-position: 50% 50%;
    background-repeat:   no-repeat;
    background-size:     cover;
    padding: 10px 0;

}
.landing-content{
    min-height: 45vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: white;
}

.myslides  p {
    color: white;
    font-size: 45px;
    text-align: left;
}
#landing-content p{
    color: white;
}


.fade {
    animation: fadein 6s;
}

@keyframes fadein {
    0%{ opacity: 1;}
    85%{opacity: 1;}
    100%{opacity: 0;}
}


.title {
    font-size: 2em;
    text-align: center;
}

.banner-title {
  background-color: #40d1e0;

    padding: 10px 0;
}

.banner-title h1 {
    color: white;
    font-size: 1.8em;
    text-align: center;
}



.info-box:nth-child(even){
    flex-direction: row-reverse;
    text-align: right;
}

.info-box:last-child{
    margin: 0;
}

.info-box:nth-child(even) .box-header{
    margin-right: 0;
    margin-left: 20px;
}

.info-box {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 10px;
    margin-bottom: 20px;
}

.box-header {
    font-size: 1.7em;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 20px;
    margin-bottom: 5px;
}

.box-header{
    border-bottom: 1px solid grey;
}

.box-content {
    width: 90%;
}


#link-boxes {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    flex-wrap: wrap;

}

.link-box {
    width: 300px;
    height: 300px;
    padding: 20px 10px;

    margin-bottom: 25px;

    display: flex;
    flex-direction: column;
    justify-content: space-between;

    background-color: white;
    border-radius: 1px;
    -webkit-box-shadow: 10px 10px 17px 3px rgba(0,0,0,0.27);
    -moz-box-shadow: 10px 10px 17px 3px rgba(0,0,0,0.27);
    box-shadow: 10px 10px 17px 3px rgba(0,0,0,0.27);
}
.link-box h2 {
    font-size: 1.8em;
    text-align: center;
}

.link-box-button {
    margin-top: 15px;
    padding: 10px;
    background-color: #e87bc0;
    text-align: center;
    color: white;
}


/* Footer */


footer {
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: #e6e6e6;
}

.footer-link {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin-bottom: 10px;
}

.footer-link a {
    margin: 5px;
}

footer .number p  {
    text-align: center;
}



/* Contact */


#contact-times, #map {
    display: flex;
    align-items: center;
    flex-direction: column;

    width: 300px;
    background-color: #e6e6e6;
    border-radius: 1px;
    justify-content: space-between;
    margin-bottom: 25px;
    -webkit-box-shadow: 10px 10px 17px 3px rgba(0,0,0,0.27);
    -moz-box-shadow: 10px 10px 17px 3px rgba(0,0,0,0.27);
    box-shadow: 10px 10px 17px 3px rgba(0,0,0,0.27);
}

#contact-times {
    padding: 20px 10px;
    text-align: center;
}

#open-times {
    margin-bottom: 10px;
}


#staff-contact p, #contact-times p{
    font-size:  1em;
    text-align: center;
}
#contact-times h2 {
    text-align: center;}


#map-contact {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
}



#map {
width: 100%
}













/* DESKTOP */

/* RESPONSIVE MIN WIDTH - 800PX */
@media screen and (min-width: 1100px) {


    /* Navbar */

    .social-text {
        display: block;
    }

    #nav-links {
        flex-direction: row;
    }


    /* Home
    */

    .info-box {
        flex-wrap: unset;
    }

    .box-header {
        border-bottom: none;
        margin-bottom: 0;
    }

    .box-content {
        display: flex;
        justify-content: center;
        align-items: center;
    }



    #map {
        width: 100%
    }

    #map-contact {
        flex-wrap: unset;
        justify-content: space-between;
    }

    .footer-link {
        justify-content: space-between;
    }



}