{% extends "base/base.html" %}

{% block head_js %}

    <title>Contact Us</title>

    <script src='https://www.google.com/recaptcha/api.js'></script>


{% endblock %}
{% block content %}


    <div class="banner-title">
        <h1 class="container-plain">Contact Info</h1>
    </div>

    <div class="container-plain content">
        {% include 'contact/map-opening.html' %}
        {% include 'contact/contact-form.html' %}
    </div>


    <script type="text/javascript">

            $('#div_id_name').addClass('wrap-1');
        $('#div_id_number').addClass('wrap-1');
        $('.g-recaptcha').addClass('wrap-1');
        $('#div_id_email').addClass('wrap-1');
        $('#div_id_text').addClass('wrap-2');
        $('#div_id_day').addClass('wrap-2');
        $('#callform-submit').addClass('wrap-2');
        $('#call-form .alert').addClass('wrap-3');


        $('.wrap-1').wrapAll('<div class=col-md-6>');
        $('.wrap-2').wrapAll('<div class=col-md-6>');
        $('.col-md-6').wrapAll('<div class=row>');

        $('#id_day').css('position', 'relative');

        $( function() {
            $( "#id_day" ).datepicker({
                showOn: "button",
                buttonImage: "/static/icons/edit.png",
                buttonImageOnly: true,
                buttonText: "Select date"
            });
        });


    </script>

{% endblock %}