{% extends 'base/base.html' %}

{% block content %}


    <div class="banner-title">
        <h1 class="container-plain">Activities</h1>
    </div>

        <div class="container-plain content">

        <table style="width:100%">
            <tr class="table-header">
                <th>Date</th>
                <th>Activities</th>
                <th>Items To Bring</th>
                <th>Meeting Area</th>
                <th>Slots</th>
            </tr>

            {% for activity in activities %}
                <tr>
                    <td>{{ activity }}</td>
                    <td>{% autoescape off %}
                        {{ activity.activities }}</td>
                    {% endautoescape %}
                    <td>{{ activity.required }}</td>
                    <td>{{ activity.transport }}</td>
                    <td>{{ activity.slots }}</td>
                </tr>
            {% endfor %}
        </table>
    </div>




{% endblock %}

